# Challenge Context - Kyros Data Engineer Internship

### Challenge 1:

In [160]:
import pandas as pd
import numpy as  np
import datetime as datetime
import geopy.distance
from dataprep.clean import clean_lat_long

#### Get the attachment dataset and upload it in any databaseâ€™s table (on-premise or on-cloud provider)

In [161]:
dados = pd.read_excel('Data_Enginner_Challenge_Dataset.xlsx')

In [162]:
dados.columns

Index(['Location', 'Longitude', 'Latitude', 'Arrived',
       'Gallons of Gas in Tank at Arrival', 'Departed',
       'Gallons of Gas in Tank at Departure'],
      dtype='object')

In [163]:
dados

,Location,Longitude,Latitude,Arrived,Gallons of Gas in Tank at Arrival,Departed,Gallons of Gas in Tank at Departure
0,1,-75.948486,41.054502,NaN,NaN,7.16.19 7:33,16.0
1,2,-80.837402,41.112469,7.16.19 13:02,6.8,7.16.19 13:48,16.0
2,3,-82.122803,41.393294,7.16.19 15:10,13.7,7.16.19 15:17,13.7
3,4,-85.034180,41.697526,7.16.19 17:38,8.6,7.16.19 19:09,8.6
4,5,-87.297363,41.574361,7.16.19 21:40,4.1,7.17.19 7:46,16.0
5,6,-89.187012,41.368564,7.17.19 9:22,13.0,7.17.19 9:46,13.0
6,7,-91.647949,41.672912,7.17.19 12:28,8.2,7.17.19 13:06,8.2
7,8,-93.614502,41.607228,7.17.19 14:41,4.9,7.17.19 14:46,16.0
8,9,-95.910645,41.483891,7.17.19 16:57,12.2,7.17.19 17:53,12.2
9,10,-96.405029,42.463993,7.17.19 19:01,9.7,7.17.19 19:14,9.7
10,11,-98.448486,42.317939,7.17.19 21:05,6.3,7.18.19 8:35,16.0
11,12,-100.788574,42.892064,7.18.19 10:51,11.6,7.18.19 12:39,11.6
12,13,-105.139160,42.666281,7.18.19 16:38,4.5,7.18.19 18:03,16.0
13,14,-108.083496,43.245203,7.18.19 20:27,10.9,7.19.19 8:14,10.9
14,15,-108.050537,44.465151,7.19.19 10:07,8.0,7.19.19 10:27,8.0
15,16,-110.269775,44.504341,7.19.19 12:49,4.2,NaN,NaN

## Find the average miles per gallon for the segment of the trip where Jim and Pam had the highest average speed.

In [164]:
# 1-Criando dataframe vazio para armazenar calculo de distancia entre os pontos

In [165]:
dfDist = pd.DataFrame()

In [166]:
# 2-Calculo de distancia entre os pontos.

In [167]:
# 1 - 2 
x = (41.054502,-75.948486)
y = (41.112469,-80.837402)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=0,column='|1-->2]mi',value=[a])
print(a)

255

In [168]:
# 2 - 3
x = (41.112469,-80.837402)
y = (41.393294,-82.122803)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=1,column='|2-->3]mi',value=[a])
print(a)

70

In [169]:
# 3 - 4
x = (41.393294,-82.122803)
y = (41.697526,-85.034180)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=2,column='|3-->4]mi',value=[a])
print(a)

152

In [170]:
# 4 - 5 
x = (41.697526,-85.034180)
y = (41.574361,-87.297363)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=3,column='|4-->5]mi',value=[a])
print(a)

117

In [171]:
# 5 - 6 
x = (41.574361,-87.297363)
y = (41.368564,-89.187012)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=4,column='|5-->6]mi',value=[a])
print(a)

99

In [172]:
# 6 - 7 
x = (41.368564,-89.187012)
y = (41.672912,-91.647949)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=5,column='|6-->7]mi',value=[a])
print(a)

129

In [173]:
# 7 - 8 
x = (41.672912,-91.647949)
y = (41.607228,-93.614502)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=6,column='|7-->8]mi',value=[a])
print(a)

102

In [174]:
# 8 - 9 
x = (41.607228,-93.614502)
y = (41.483891,-95.910645)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=7,column='|8-->9]mi',value=[a])
print(a)

119

In [175]:

# 9 - 10 
x = (41.483891,-95.910645)
y = (42.463993,-96.405029)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=8,column='|9-->10]mi',value=[a])
print(a)

72

In [176]:
# 10 - 11 
x = (42.463993,-96.405029)
y = (42.317939,-98.448486)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=9,column='|10-->11]mi',value=[a])
print(a)

105

In [177]:
# 11 - 12 
x = (42.317939,-98.448486)
y = (42.892064,-100.788574)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=10,column='|11-->12]mi',value=[a])
print(a)

126

In [178]:
# 12 - 13 
x = (42.892064,-100.788574)
y = (42.666281,-105.139160)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=11,column='|12-->13]mi',value=[a])
print(a)

222

In [179]:
# 13 - 14 
x = (42.666281,-105.139160)
y = (43.245203,-108.083496)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=12,column='|13-->14]mi',value=[a])
print(a)

155

In [180]:
# 14 - 15 
x = (43.245203,-108.083496)
y = (44.465151,-108.050537)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=13,column='|14-->15]mi',value=[a])
print(a)

84

In [181]:
# 15 - 16 
x = (44.465151,-108.050537)
y = (44.504341,-110.269775)
a = round(geopy.distance.geodesic(x,y).miles)
dfDist.insert(loc=14,column='|15-->16]mi',value=[a])
print(a)

110

In [238]:
# 3- DataFrame com as Distancia por intervalo(mi)

In [183]:
dfDist

,|1-->2]mi,|2-->3]mi,|3-->4]mi,|4-->5]mi,|5-->6]mi,|6-->7]mi,|7-->8]mi,|8-->9]mi,|9-->10]mi,|10-->11]mi,|11-->12]mi,|12-->13]mi,|13-->14]mi,|14-->15]mi,|15-->16]mi
0,255,70,152,117,99,129,102,119,72,105,126,222,155,84,110

### Highest average speed

##### ->  Descobrir o tempo do percurso
##### ->  Descobrir a velocidade media
##### ->  Inserir velocia media em novo dataframe

In [195]:
# 4 -Criando dataframe vazio para armazenar velocidade media entre os pontos 
#   -> ConversÃ£o da data em horas
#   -> Calculo da velocidade media 
#   -> Passando os dados para dataframe

In [196]:
dfVelocm = pd.DataFrame()

In [197]:
# 1 - 2 -> [46.53284672]

# ConversÃ£o da data em horas 
t1 = pd.to_datetime('7/16/19  7:33')
t2 = pd.to_datetime('7/16/19 13:02')
temp = round((pd.Timedelta(t2-t1).seconds/3600),2)
# Calculo da velocidade media 
vm = round(int(dfDist.loc[:,'|1-->2]mi'])/temp,2)
# Passando os dados para dataframe
dfVelocm.insert(loc=0,column='Vm= 1-->2|',value=[vm])

5.48
46.53

In [198]:
# 2 - 3  [51.09489051]
t1 = pd.to_datetime('7.16.19 13:48')
t2 = pd.to_datetime('7.16.19 15:10')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|2-->3]mi'])/temp,2)
dfVelocm.insert(loc=1,column='Vm= 2-->3|',value=[vm])

In [199]:
# 3 - 4 [64.68085106]
t1 = pd.to_datetime('7.16.19   15:17')
t2 = pd.to_datetime('7.16.19   17:38')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|3-->4]mi'])/temp,2)
dfVelocm.insert(loc=2,column='Vm= 3-->4]',value=[vm])

In [200]:
# 4 - 5 [46.42857143]
t1 = pd.to_datetime('7.16.19 19:09')
t2 = pd.to_datetime('7.16.19 21:40')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|4-->5]mi'])/temp,2)
dfVelocm.insert(loc=3,column='Vm= 4-->5]',value=[vm])

In [201]:
# 5 - 6 [61.875]
t1 = pd.to_datetime('7.17.19 7:46')
t2 = pd.to_datetime('7.17.19 9:22')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|5-->6]mi'])/temp,2)
dfVelocm.insert(loc=4,column='Vm= 5-->6]',value=[vm])

In [205]:
# 6 - 7
t1 = pd.to_datetime('7.17.19  9:46')
t2 = pd.to_datetime('7.17.19 12:28')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|6-->7]mi'])/temp,2)
dfVelocm.insert(loc=5,column='Vm= 6-->7]',value=[vm])

In [206]:
# 7 - 8 [64.55696203]
t1 = pd.to_datetime('7.17.19 13:06')
t2 = pd.to_datetime('7.17.19 14:41')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|7-->8]mi'])/temp,2)
dfVelocm.insert(loc=6,column='Vm= 7-->8]',value=[vm])

In [207]:
# 8 - 9 [54.58715596]
t1 = pd.to_datetime('7.17.19 14:46')
t2 = pd.to_datetime('7.17.19 16:57')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|8-->9]mi'])/temp,2)
dfVelocm.insert(loc=7,column='Vm= 8-->9]',value=[vm])

In [208]:
# 9 - 10 [63.71681416]
t1 = pd.to_datetime('7.17.19 17:53')
t2 = pd.to_datetime('7.17.19 19:01')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|9-->10]mi'])/temp,2)
dfVelocm.insert(loc=8,column='Vm= 9-->10]',value=[vm])

In [209]:
# 10 - 11 [56.75675676]
t1 = pd.to_datetime('7.17.19 19:14')
t2 = pd.to_datetime('7.17.19 21:05')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|10-->11]mi'])/temp,2)
dfVelocm.insert(loc=9,column='Vm= 10-->11]',value=[vm])

In [210]:
# 11 - 12 [55.50660793]
t1 = pd.to_datetime('7.18.19 8:35')
t2 = pd.to_datetime('7.18.19 10:51')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|11-->12]mi'])/temp,2)
dfVelocm.insert(loc=10,column='Vm= 11-->12]',value=[vm])

In [211]:
# 12 - 13 [55.77889447]
t1 = pd.to_datetime('7.18.19 12:39')
t2 = pd.to_datetime('7.18.19 16:38')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|12-->13]mi'])/temp,2)
dfVelocm.insert(loc=11,column='Vm= 12-->13]',value=[vm])

In [212]:
# 13 - 14 [64.58333333]
t1 = pd.to_datetime('7.18.19 18:03')
t2 = pd.to_datetime('7.18.19 20:27')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|13-->14]mi'])/temp,2)
dfVelocm.insert(loc=12,column='Vm= 13-->14]',value=[vm])

In [213]:
# 14 - 15 [44.68085106]
t1 = pd.to_datetime('7.19.19  8:14')
t2 = pd.to_datetime('7.19.19 10:07')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|14-->15]mi'])/temp,2)
dfVelocm.insert(loc=13,column='Vm= 14-->15]',value=[vm])

In [214]:
# 15 - 16 [46.41350211]
t1 = pd.to_datetime('7.19.19 10:27')
t2 = pd.to_datetime('7.19.19 12:49')
temp =round((pd.Timedelta(t2-t1).seconds/3600),2)
vm = round(int(dfDist.loc[:,'|15-->16]mi'])/temp,2)
dfVelocm.insert(loc=14,column='Vm=15-->16]',value=[vm])

### Data Frame velocidade media

In [215]:
dfVelocm

,Vm= 1-->2|,Vm= 2-->3|,Vm= 3-->4],Vm= 4-->5],Vm= 5-->6],Vm= 6-->7],Vm= 7-->8],Vm= 8-->9],Vm= 9-->10],Vm= 10-->11],Vm= 11-->12],Vm= 12-->13],Vm= 13-->14],Vm= 14-->15],Vm=15-->16]
0,46.53,51.09,64.68,46.43,61.88,47.78,64.56,54.59,63.72,56.76,55.51,55.78,64.58,44.68,46.41

## Average miles per gallon

In [218]:
## Hereâ€™s an example: 312 miles driven Ã· 16 gallons fueled = 19.5mpg

In [220]:
# 9 -Criando dataframe vazio para armazenar mpg(milhas mÃ©dias por galÃ£o)
#   -> Calculando a diferenca de galÃ£o de gas entre os pontos 
#   -> Calculo do mpg(milhas mÃ©dias por galÃ£o)
#   -> Passando os dados mpg para o dataframe vazio

In [221]:
dfmpg = pd.DataFrame()

In [222]:
# 1 - 2 

# Selecionando posicoes dos galoes 
x = dados.loc[0,'Gallons of Gas in Tank at Departure']
y = dados.loc[1,'Gallons of Gas in Tank at Arrival']

# Calculando diferenca entre o consumo dos galoes
gallon = x-y

# Calculando mpg(milhas mÃ©dias por galÃ£o)
mpg = round(dfDist.loc[0,'|1-->2]mi']/gallon,2)

# Inserindo o valor de 'mpg' dentro do dataframe 
dfmpg.insert(loc=0,column='mpg=1-->2]',value=[mpg])

In [223]:
# 2 - 3
x = dados.loc[1,'Gallons of Gas in Tank at Departure']
y = dados.loc[2,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|2-->3]mi'])/gallon,2)
dfmpg.insert(loc=1,column='mpg=2-->3]',value=[mpg])

In [224]:
# 3 - 4
x = dados.loc[2,'Gallons of Gas in Tank at Departure']
y = dados.loc[3,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|3-->4]mi'])/gallon,2)
dfmpg.insert(loc=2,column='mpg=3-->4]',value=[mpg])

In [225]:
# 4 - 5
x = dados.loc[3,'Gallons of Gas in Tank at Departure']
y = dados.loc[4,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|4-->5]mi'])/gallon,2)
dfmpg.insert(loc=3,column='mpg=4-->5]',value=[mpg])

In [226]:
# 5 - 6 
x = dados.loc[4,'Gallons of Gas in Tank at Departure']
y = dados.loc[5,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|5-->6]mi'])/gallon,2)
dfmpg.insert(loc=4,column='mpg=5-->6]',value=[mpg])

In [227]:
# 6 - 7 
x = dados.loc[5,'Gallons of Gas in Tank at Departure']
y = dados.loc[6,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|6-->7]mi'])/gallon,2)
dfmpg.insert(loc=5,column='mpg=6-->7]',value=[mpg])

In [228]:
# 7- 8 
x = dados.loc[6,'Gallons of Gas in Tank at Departure']
y = dados.loc[7,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|7-->8]mi'])/gallon,2)
dfmpg.insert(loc=6,column='mpg=7-->8]',value=[mpg])

In [229]:
# 8 - 9
x = dados.loc[7,'Gallons of Gas in Tank at Departure']
y = dados.loc[8,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|8-->9]mi'])/gallon,2)
dfmpg.insert(loc=7,column='mpg=8-->9]',value=[mpg])

In [230]:
# 9 - 10
x = dados.loc[8,'Gallons of Gas in Tank at Departure']
y = dados.loc[9,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|9-->10]mi'])/gallon,2)
dfmpg.insert(loc=8,column='mpg=9-->10]',value=[mpg])

In [231]:
# 10 - 11
x = dados.loc[9,'Gallons of Gas in Tank at Departure']
y = dados.loc[10,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|10-->11]mi'])/gallon,2)
dfmpg.insert(loc=9,column='mpg=10-->11]',value=[mpg])

In [232]:
# 11 - 12
x = dados.loc[10,'Gallons of Gas in Tank at Departure']
y = dados.loc[11,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|11-->12]mi'])/gallon,2)
dfmpg.insert(loc=10,column='mpg=11-->12]',value=[mpg])

In [233]:
# 12 - 13 
x = dados.loc[11,'Gallons of Gas in Tank at Departure']
y = dados.loc[12,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|12-->13]mi'])/gallon,2)
dfmpg.insert(loc=11,column='mpg=12-->13]',value=[mpg])

In [234]:
# 13 - 14
x = dados.loc[12,'Gallons of Gas in Tank at Departure']
y = dados.loc[13,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|13-->14]mi'])/gallon,2)
dfmpg.insert(loc=12,column='mpg=13-->14]',value=[mpg])

In [235]:
# 14 - 15
x = dados.loc[13,'Gallons of Gas in Tank at Departure']
y = dados.loc[14,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|14-->15]mi'])/gallon,2)
dfmpg.insert(loc=13,column='mpg=14-->15]',value=[mpg])

In [236]:
# 15 - 16
x = dados.loc[14,'Gallons of Gas in Tank at Departure']
y = dados.loc[15,'Gallons of Gas in Tank at Arrival']
gallon = x-y
mpg = round(int(dfDist.loc[:,'|15-->16]mi'])/gallon,2)
dfmpg.insert(loc=14,column='mpg=15-->16]',value=[mpg])

#### DataFrame com as Distancia por intervalo(mi)

In [239]:
dfDist

,|1-->2]mi,|2-->3]mi,|3-->4]mi,|4-->5]mi,|5-->6]mi,|6-->7]mi,|7-->8]mi,|8-->9]mi,|9-->10]mi,|10-->11]mi,|11-->12]mi,|12-->13]mi,|13-->14]mi,|14-->15]mi,|15-->16]mi
0,255,70,152,117,99,129,102,119,72,105,126,222,155,84,110

#### Data Frame velocidade media (mi)

In [259]:
dfVelocm

,Vm= 1-->2|,Vm= 2-->3|,Vm= 3-->4],Vm= 4-->5],Vm= 5-->6],Vm= 6-->7],Vm= 7-->8],Vm= 8-->9],Vm= 9-->10],Vm= 10-->11],Vm= 11-->12],Vm= 12-->13],Vm= 13-->14],Vm= 14-->15],Vm=15-->16]
0,46.53,51.09,64.68,46.43,61.88,47.78,64.56,54.59,63.72,56.76,55.51,55.78,64.58,44.68,46.41

#### Mpg(milhas mÃ©dias por galÃ£o)

In [241]:
dfmpg

,mpg=1-->2],mpg=2-->3],mpg=3-->4],mpg=4-->5],mpg=5-->6],mpg=6-->7],mpg=7-->8],mpg=8-->9],mpg=9-->10],mpg=10-->11],mpg=11-->12],mpg=12-->13],mpg=13-->14],mpg=14-->15],mpg=15-->16]
0,27.72,30.43,29.8,26.0,33.0,26.87,30.91,31.32,28.8,30.88,28.64,31.27,30.39,28.97,28.95

# Respostas

### Find the average miles per gallon for the segment of the trip where Jim and Pam had the highest average speed.

In [260]:
highest_average_speed = dfVelocm.values.max()
highest_average_speed

64.68

In [261]:
average_miles_per_gallon = float(dfmpg.loc[:,'mpg=3-->4]']) 
average_miles_per_gallon

29.8

# Resposta final 
### Letra D -> 29.79 miles per gallon

In [258]:
average_miles_per_gallon

29.8